LOCAL_DB_NAME=skku_alumni
LOCAL_DB_USERNAME=alumni
LOCAL_DB_PASSWORD=alumni
LOCAL_DB_ROOT_PASSWORD=root

LOCAL_MINIO_ROOT_USER=minioadmin
LOCAL_MINIO_ROOT_PASSWORD=minioadmin
LOCAL_MINIO_BUCKET=skku-alumni
