HELP.md
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse / STS ###
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
bin/

### VS Code ###
.vscode/

### Local environment ###
.env
application-*.local.yml
application-local.yml

### OS ###
.DS_Store
